@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;

  }

  button#hesaplabtn {
    letter-spacing: 4px;
    cursor: pointer;
  }